/* Page background */
body {
    background-color: rgb(217, 217, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    border-radius: 20px

}

/* Main white card */
h1 {
    align-items: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    margin: 30px

}



/* Input and dropdown row */
.selection {
    display: inline-block;
    padding: 20px;
    margin: 10px
    

}

.btn-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* Individual inputs and dropdowns */
input, select {
    border-radius: 2x;
    padding: 10px;
}



#btn-reset {
    background-color: rgb(148, 154, 187);
    color: white;
    border-radius: 2.5px;
    padding: 10px;
    width: 120px;
    
}


/* Result box */
.result-all {
    height: 20px;
    justify-content: center;
}


#result {
    
    border: 1px solid;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.result-box {
    display: flex;
    align-items: center;
    

}

.result-label {
    margin-right: 10px
}

#unit {
    margin-left: 10px
}


p {
    padding: 0px;
    margin: 0;
    
}
